<?xml version="1.0"?>
<!--
/**
 * LINK Mobility SMS Notifications
 *
 * Sends transactional SMS notifications through the LINK Mobility messaging
 * service.
 *
 * @author Joseph Leedy <joseph@wagento.com>
 * @author Yair García Torres <yair.garcia@wagento.com>
 * @copyright Copyright (c) LINK Mobility (https://www.linkmobility.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Linkmobility_Notifications::sms_subscriptions" title="SMS Subscriptions" translate="title" sortOrder="1000">
                    <resource id="Linkmobility_Notifications::view_sms_subscription" title="View" translate="title" sortOrder="10"/>
                    <resource id="Linkmobility_Notifications::manage_sms_subscription" title="Manage" translate="title" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>