<?xml version="1.0"?>
<!--
/**
 * Wagento SMS Notifications powered by LINK Mobility
 *
 * Sends transactional SMS notifications through the LINK Mobility messaging
 * service.
 *
 * @author Joseph Leedy <joseph@wagento.com>
 * @author Yair García Torres <yair.garcia@wagento.com>
 * @copyright Copyright (c) Wagento (https://wagento.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Wagento_SMSNotifications::sms_subscriptions" title="SMS Subscriptions" translate="title" sortOrder="1000">
                    <resource id="Wagento_SMSNotifications::view_sms_subscription" title="View" translate="title" sortOrder="10"/>
                    <resource id="Wagento_SMSNotifications::manage_sms_subscription" title="Manage" translate="title" sortOrder="20"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Wagento_SMSNotifications::sms_configuration" title="SMS Notifications Section" translate="title" sortOrder="1500"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>