<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sms_notifications>
            <general>
                <enabled>0</enabled>
            </general>
            <api>
                <username/>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <platform_id backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <platform_partner_id backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <gate_id backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <source_number>+</source_number>
            </api>
            <developer>
                <debug>0</debug>
            </developer>
            <templates>
                <order_placed>Thank you for placing your order at {{store_name}} (#{{order_id}}). We'll let you know when it ships or changes.</order_placed>
                <order_updated>Your order (#{{order_id}}) has been updated. Details: {{order_url}}.</order_updated>
                <order_shipped>Your order (#{{order_id}}) has been shipped. Track it: {{tracking_url}}</order_shipped>
                <order_refunded>Your order (#{{order_id}}) has been refunded. Details: {{order_url}}.</order_refunded>
                <order_canceled>Your order (#{{order_id}}) has been canceled. Details: {{order_url}}.</order_canceled>
                <order_held>Your order (#{{order_id}}) has been placed on hold. Details: {{order_url}}.</order_held>
                <order_released>Your order (#{{order_id}}) has been released from its hold. Details: {{order_url}}.</order_released>
            </templates>
        </sms_notifications>
    </default>
</config>