<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Linkmobility\Notifications\Api\SmsSubscriptionRepositoryInterface" type="Linkmobility\Notifications\Model\SmsSubscriptionRepository"/>
    <preference for="Linkmobility\Notifications\Api\SmsTypeRepositoryInterface" type="Linkmobility\Notifications\Model\SmsTypeRepository"/>
    <preference for="Linkmobility\Notifications\Api\Data\SmsSubscriptionInterface" type="Linkmobility\Notifications\Model\Data\SmsSubscription"/>
    <preference for="Linkmobility\Notifications\Api\Data\SmsTypeInterface" type="Linkmobility\Notifications\Model\Data\SmsType"/>
</config>