<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Linkmobility\Notifications\Api\SmsSubscriptionRepositoryInterface" type="Linkmobility\Notifications\Model\SmsSubscriptionRepository"/>
    <preference for="Linkmobility\Notifications\Api\SmsTypeRepositoryInterface" type="Linkmobility\Notifications\Model\SmsTypeRepository"/>
    <preference for="Linkmobility\Notifications\Api\Data\SmsSubscriptionInterface" type="Linkmobility\Notifications\Model\Data\SmsSubscription"/>
    <preference for="Linkmobility\Notifications\Api\Data\SmsTypeInterface" type="Linkmobility\Notifications\Model\Data\SmsType"/>
    <preference for="Linkmobility\Notifications\Api\ConfigInterface" type="Linkmobility\Notifications\Model\Config"/>
    <preference for="Linkmobility\Notifications\Api\SmsSubscriptionValidatorInterface" type="Linkmobility\Notifications\Model\SmsSubscriptionValidator"/>
    <preference for="Linkmobility\Notifications\Gateway\ApiClientInterface" type="Linkmobility\Notifications\Gateway\ApiClient"/>
    <preference for="Linkmobility\Notifications\Util\TemplateProcessorInterface" type="Linkmobility\Notifications\Util\TemplateProcessor"/>
    <type name="Linkmobility\Notifications\Logger\Handler\FileHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Linkmobility\Notifications\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">sms_notifications</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Linkmobility\Notifications\Logger\Handler\FileHandler</item>
            </argument>
            <argument name="processors" xsi:type="array">
                <item name="sensitiveDataProcessor" xsi:type="object">Linkmobility\Notifications\Logger\Processor\SensitiveDataProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Linkmobility\Notifications\Controller\Adminhtml\Subscription\Create">
        <arguments>
            <argument name="logger" xsi:type="object">Linkmobility\Notifications\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Linkmobility\Notifications\Controller\Adminhtml\Subscription\Delete">
        <arguments>
            <argument name="logger" xsi:type="object">Linkmobility\Notifications\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Linkmobility\Notifications\Controller\Adminhtml\Subscription\MassCreate">
        <arguments>
            <argument name="logger" xsi:type="object">Linkmobility\Notifications\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Linkmobility\Notifications\Controller\Adminhtml\Subscription\MassDelete">
        <arguments>
            <argument name="logger" xsi:type="object">Linkmobility\Notifications\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Linkmobility\Notifications\Model\MessageService">
        <arguments>
            <argument name="logger" xsi:type="object">Linkmobility\Notifications\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Linkmobility\Notifications\Util\TemplateProcessor">
        <arguments>
            <argument name="converter" xsi:type="object">Zend\Filter\Word\SeparatorToCamelCase</argument>
        </arguments>
    </type>
</config>