<?xml version="1.0"?>
<!--
/**
 * LINK Mobility SMS Notifications
 *
 * Sends transactional SMS notifications through the LINK Mobility messaging
 * service.
 *
 * @author Joseph Leedy <joseph@wagento.com>
 * @author Yair García Torres <yair.garcia@wagento.com>
 * @copyright Copyright (c) LINK Mobility (https://www.linkmobility.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="create_order" instance="Linkmobility\Notifications\Observer\CreateOrder" />
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="ship_order" instance="Linkmobility\Notifications\Observer\ShipOrder" />
    </event>
    <event name="sales_order_payment_refund">
        <observer name="refund_order" instance="Linkmobility\Notifications\Observer\RefundOrder" />
    </event>
    <event name="order_cancel_after">
        <observer name="cancel_order" instance="Linkmobility\Notifications\Observer\CancelOrder" />
    </event>
    <event name="sales_order_save_after">
        <observer name="save_order" instance="Linkmobility\Notifications\Observer\UpdateOrder" />
    </event>
</config>