<?xml version="1.0"?>
<!--
/**
 * LINK Mobility SMS Notifications
 *
 * Sends transactional SMS notifications through the LINK Mobility messaging
 * service.
 *
 * @author Joseph Leedy <joseph@wagento.com>
 * @author Yair García Torres <yair.garcia@wagento.com>
 * @copyright Copyright (c) LINK Mobility (https://www.linkmobility.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Linkmobility\Notifications\Controller\Adminhtml\Subscription\Create">
        <arguments>
            <argument name="logger" xsi:type="object">Linkmobility\Notifications\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Linkmobility\Notifications\Controller\Adminhtml\Subscription\Delete">
        <arguments>
            <argument name="logger" xsi:type="object">Linkmobility\Notifications\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Linkmobility\Notifications\Controller\Adminhtml\Subscription\MassCreate">
        <arguments>
            <argument name="logger" xsi:type="object">Linkmobility\Notifications\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Linkmobility\Notifications\Controller\Adminhtml\Subscription\MassDelete">
        <arguments>
            <argument name="logger" xsi:type="object">Linkmobility\Notifications\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Magento\Ui\Component\MassAction\Filter">
        <plugin name="smsTypeFilter" type="Linkmobility\Notifications\Plugin\Component\MassAction\FilterPlugin"/>
    </type>
</config>